#root {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10%;
}

.flexbox {
  align-items: center;
  flex-direction: column;
  display: flex;
}

#main-heading {
  font-family: "Playfair Display", serif;
  margin-top: 70px;
  color: #3f3f3f;
}
